body {
	overflow: hidden;
	color: #fff;
	font: 900 4vmin Arial;
	text-align: center;
}

.css_georgia {
	font-family: Georgia;
}

#md, #gc, #ui, #ov {
	position: absolute;
	inset: 0;
	width: 100%;
	image-rendering: pixelated;
	touch-action: none;
}

#ui {
	pointer-events: none;
}

#L, #R {
	position: absolute;
	padding: 1vmin;
	background: #879a;
}

#R {
	right: 0;
}

#ov {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 0 0 8vmin;
	gap: 8vmin;
}

#ms {
	position: absolute;
	align-self: center;
	padding: 0 0 8vmin;
	z-index: 0;
}

.css_tiny {
	font-size: 1vmin;
}

.css_small {
	font-size: 2vmin;
	text-align: right;
}

.css_small .css_caption {
	margin: 1vmin 0 -1vmin;
}

.css_caption {
	font-size: 3vmin;
}

.css_subtitle {
	font-size: 5vmin;
}

.css_headline {
	font-size: 7vmin;
}

.css_display {
	font-size: 9vmin;
}

.css_title {
	font-size: 14vmin;
}

.css_row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1vmin;
}

.css_row.css_body {
	flex-direction: column;
}

.css_body > .css_small {
	text-align: left;
	margin: 0 0 -3vmin;
}

.css_small > .css_subtitle {
	margin: 0 0 -2vmin;
}

.css_chip {
	margin: 1vmin;
	padding: 1vmin;
	border-radius: 2vmin;
}

.css_picked {
	background: #fd6;
}

.css_focused {
	outline: 1.5vmin solid #6e6;
}

.css_idle {
	background: #8696;
}

.css_frame {
	background: #879;
	padding: 2vmin;
	margin: 1vmin;
}

.css_muted {
	background: #98a;
}

button {
	padding: 2vmin 4vmin;
	border: 1vmin solid #fff;
	border-radius: 2vmin;
	color: #103;
	background: #fd6;
	pointer-events: auto;
	cursor: pointer;
	font: inherit;
	font-size: 6vmin;
}

#ms button {
	padding: 1vmin 2vmin;
	margin: 2vmin 1vmin;
	font-size: 3vmin;
}

hr {
	margin: 1vmin;
}
